.idea
*~
*.pyc
__pycache__
db.sqlite3
.DS_Store

# credentials
homepage/credential.py
homepage/email_info.py
homepage/disqus_info.py

#Folders
static/
media/
/homepage_files/research/migrations/*
/homepage_files/blog/migrations/*








/homepage_files/blog/migrations/
